page-sobre {

  .bg-content{
    background: url("../assets/background/bg.jpg");
  }

  .item-md{
    background-color: transparent;
  }

  .select-text {
    color: white;
  }

  .ion-header.header.header-md{
    background: black;
  }



  .text-about{
    color: white;
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
