page-life-care {

  .bg-content{
    background: url("../assets/background/bg.jpg");
  }

  .item-md{
    background-color: transparent;
  }

  .select-text {
    color: white;
  }

  .ion-header.header.header-md{
    background: black;
  }

}

